[submodule "components/resource-browser"]
	path = components/resource-browser
	url = https://github.com/psiphp/resource-browser
[submodule "components/description"]
	path = components/description
	url = https://github.com/psiphp/description
[submodule "components/content-type"]
	path = components/content-type
	url = https://github.com/psiphp/content-type
[submodule "components/content-type-bundle"]
	path = components/content-type-bundle
	url = https://github.com/psiphp/content-type-bundle
